.btn-actions {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;

  .btn-actions-space {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
}

.btn-icon {
  width: 150px !important;
}

.disabled {
  background-color: #bfbfbf !important;
  color: #ffffff;

  &:hover {
    background-color: #5e5e5e !important;
    opacity: 85% !important;
  }
}

@media (max-width: 400px) {
  .btn-actions-space {
    box-sizing: border-box !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  :host ::ng-deep .btn-icon {
    min-width: 100% !important;
  }

  :host ::ng-deep .btn-icon:first-child {
    margin-bottom: 10px !important;
  }
}
