@import '../../../../../variables';

.container {
  height: 100%;
  text-align: center;
  background: $secondary-white-color;

  .row {
    margin: auto;
  }
}

@media (max-height: 560px) {
  .container {
    .row {
      background: $secondary-white-color !important;
    }
  }

  :host ::ng-deep app-img-home {
    display: none;
  }

  :host ::ng-deep app-btn-home {
    button {
      margin-bottom: 30px !important;
    }
  }
}