<div class="container">
  <!-- <img src="assets/images/background.svg" alt="Icono">
      <img src="assets/images/loading.svg" alt="Icono">
      <img src="assets/images/pokemon.svg" alt="Icono">
      <img src="assets/images/pikachu.svg" alt="Icono"> -->
  <div class="row">
    <div class="image">
      <div class="bg-image"></div>
      <img src="assets/images/pikachu.svg" alt="Icono" />
    </div>

    <h3>Welcome to Pok&eacute;dex</h3>

    <p>
      The digital encyclopedia creadted by Profesor Oak is an invaluable tool to
      Trainers in the Pok&eacute;mon world
    </p>

    <app-btn-home (redirect)="goToList($event)"></app-btn-home>
  </div>
</div>
