@import '../../../../../variables';

.btn-radius-icon {
    height: 44px;
    width: 44px;
    background: $white-color;
    color: $grey-color;

    &:hover {
        background: $secondary-grey-color;
        opacity: 60%;
    }
}

.active {
    color: $yellow-color !important;
}
