.image-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .grass-bg {
    position: relative;
    z-index: 1;
    top: 9.6%;
  }

  .pokemon-img {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  i {
    color: #FFFFFF;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;

    &:hover {
      color: #d2d1d1;
    }

    &::before {
      font-size: 26px;
    }
  }
}
