.modal-detail {
  padding-bottom: 20px;
}

.container {
  text-align: center;

  .row {
    margin: auto;
    padding-bottom: 30px;
    height: 100%;
    width: 90%;
  }
}

:host ::ng-deep app-btn-return {
  button {
    display: none !important;
  }  
}
