.container {
  text-align: center;

  .row {
    margin: auto;
    padding-bottom: 64px;
    height: 100%;
    width: 90%;
  }
}

@media (max-width: 400px) {
  .row {
    padding-bottom: 118px !important;
  }
}
