$white-color: #f5f5f5;
$secondary-white-color: #ffffff;
$red-color: #f22539;
$red-color-hover: #c00e20;
$grey-color: #bfbfbf;
$secondary-grey-color: #5e5e5e;
$third-grey-color: #d2d1d1;
$yellow-color: #eca539;
$title-color: #353535;