/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Lato, "Helvetica Neue", sans-serif;
}

h3 {
    color: #353535;
    font-size: 26px;
    line-height: 31.2px;
}

p {
    color: #5E5E5E;
    font-size: 18px;
    line-height: 27px;
}