@import '../../../../../variables';

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.search-container input[type="search"] {
  color: $title-color;
  width: 100%;
  padding: 10px 40px 10px 40px;
  font-size: 16px;
  border: 1px solid $grey-color;
  border-radius: 5px;
  outline: none;
}

.search-container input[type="search"]::placeholder {
  color: $grey-color;
}

i {
  position: absolute;
  left: 15px;
  font-size: 18px;
  color: $grey-color;
}
